/*Accordian CSS*/
.fields_container, .fields_container_new { 
	color: #000;
	background: #fff;
	padding: 15px;
        display:none;  
        /*margin-bottom: 15px;*/ 
} 

.fields_container_new {
    display: block; 
    background: #fefefe;
}

.repeated_table_row h3 {
    background: #fefefe;
    padding: 10px ;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    position: relative;
    background-attachment: fixed;
    margin-bottom: 1px;
    border:1px solid #ccc; 
}

.repeated_table_row
h3::after {
	position: absolute;
	content: "+";
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	right: 11px;
	top: 10px;
}
.repeated_table_row
h3.open::after {
    content: "-";
}

.repeated_row {
    margin:  0 0 15px 0; 
}

.repeated_row label {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.add_more_roles_fields, .remove_roles_fields {
    background: #449d44 !important;
    color: #fff !important;
    border: none !important;
}
.remove_roles_fields {
background: #c9302c !important; 
}

.repeated_row.add_more_repeated_rows {
    margin-top: 15px;
}